/*//////////////////////////////////////////
             FONT STYLES
///////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css?family=Bitter|Black+Han+Sans|Crimson+Text|Emilys+Candy|Fredericka+the+Great|Nosifer|Open+Sans|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Roboto');

/*//////////////////////////////////////////
             GLOBAL CSS
///////////////////////////////////////////*/
*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  outline:none;
}
html{
  width: 100%;
}

body{
  color: #ffff;
  font-size: 1em;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background: rgb(19, 19, 19) url(../img/night.jpg) no-repeat center / cover;
}

img{
  max-height: 100%;
  max-width: 100%;
}

li{
  list-style: none;
}
a{
   text-decoration: none;
   cursor: pointer;
}
/*//////////////////////////////////////////
             RECICLE
///////////////////////////////////////////*/

:root{
  --background-color-: rgb(19, 19, 19);
}

/*//////////////////////////////////////////
             main page
///////////////////////////////////////////*/


.main__wrap{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}
    .clock_wrap{
      border: solid 2px white;
      padding: 10px;
      display: flex;
      flex-direction: column;
      background: rgba(19, 19, 19, 0.76);
    }
        .top-info__wrap,.button_wrap{
           display: flex;
           justify-content: space-evenly;
           align-items: center;
        }
        .inner_wraps {
          border: solid 2px white;
          padding: 10px;
          margin: 5px;
          display: flex;
          flex-direction: row;
        }


            .time_box{
              border: solid 2px white;
              font-size: 3rem;
              padding: 10px 20px;
              margin: 0 10px;
            }
                #hours,#minutes{
                   min-width: 150px;
                   text-align: center;
                }


            .inner_button__wrap{
              padding: 10px;
            }
            .wrap-btn2{
              margin-left: 10%;
            }
                .btn{
                  padding: 5px 10px;
                  background: none;
                  color: white;
                  font-size: 1.1rem;
                  cursor: pointer;
                }


      .time-tape__wrap{        
        margin-bottom: 80px;
        width: 60%;  
        display: flex;
        align-items: center;
        justify-content: center;         
        height: 60px;   
      }
          #centerLine{
            background: rgba(19, 19, 19, 0.76);
            height: 60px;
            width: 85%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            position: relative;
          }
            .cirlces{
              height: 40px;
              width: 5px;
            }
                .cirlces:first-child{
                    background: rgb(124, 255, 4);
                }

            .white{
              background: white;
            }
            .LightGreen{
              background: rgb(124, 255, 4);
            }
            .darkRed{
              background: darkred;
            }
            #hours{
              color: rgb(4, 253, 0);
            }
            #minutes{
              color:rgb(253, 110, 0);
            }




/* CLOCK SECTION */

            
  .clockwrap{
    margin: 20px 0;
    /* background-color: rgba(19, 19, 19, 0.76); */
  }
  .clock {
    width: 400px;
    height: 400px;              
    background: url(../img/clock.png)no-repeat center/ cover,
    rgba(0, 0, 0, 0.74);
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
  }
  .centerCover{
    position: absolute;
    background: black;
    border-radius: 50%;
    z-index: 100;
    width: 45px;
    height: 45px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }            
  .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 2rem;
    color: white;
    font-weight: bolder;
  }

  .active{
    color: rgb(4, 253, 0);
    font-size: 2.2rem;    
  }
  
  .clock .number1 { --rotation: 30deg; }
  .clock .number2 { --rotation: 60deg; }
  .clock .number3 { --rotation: 90deg; }
  .clock .number4 { --rotation: 120deg; }
  .clock .number5 { --rotation: 150deg; }
  .clock .number6 { --rotation: 180deg; }
  .clock .number7 { --rotation: 210deg; }
  .clock .number8 { --rotation: 240deg; }
  .clock .number9 { --rotation: 270deg; }
  .clock .number10 { --rotation: 300deg; }
  .clock .number11 { --rotation: 330deg; }
  
  .clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  }
  
  .clock::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  
  .clock .hand.minute {
    width: 7px;
    height: 40%;
    background-color: rgb(253, 110, 0);
  }
  
  .clock .hand.hour {
    width: 10px;
    height: 35%;
    background-color: rgb(4, 253, 0);
  }
  


  .faceB{
    padding: 20px 10px;
  }